body{
  margin:0;
  font-family:Segoe UI;
  background:#f3f6fb;
}

.hero{
  background:linear-gradient(135deg,#0a1f44,#1d4ed8);
  color:white;
  padding:80px 20px;
  text-align:center;
}

.hero button{
  padding:14px 30px;
  background:#ff9800;
  border:none;
  color:white;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}

.hero button:hover{
  transform:scale(1.1);
}

section{
  padding:60px 10%;
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.card{
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
  transition:.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.dark{
  background:#0a1f44;
  color:white;
}

.price{
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.price button{
  background:#1d4ed8;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:5px;
}

input,textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
}

footer{
  background:#0a1f44;
  color:white;
  text-align:center;
  padding:20px;
}
